<html>
    <head>
        <title>Welcome to JUMMP</title>
        <meta name="layout" content="main" />
    </head>
    <body>
        <div id="body" class="ui-widget">
        </div>
    </body>
</html>
